<!--
File Name: Views/Shared/_DeleteAndBacktolistButton.cshtml
Description:Delete the book and go back to the book list
Author:  Payal Swarnkar, Savitha Kulaolinathan
-->
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-info form-control" value="Delete" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>